.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 1px 1px 2px 1px #ccc;
  padding: 20px;
}

.header-container, .incident-info-container, .header-menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-menu-container {
  justify-content: end;
  flex: 1;
}

.badge {
  display: flex;
  justify-content: ceter;
  align-items: center;
  border-radius: 5px; 
  padding: 7px;   
}

.badge-on_hold {
  background-color: yellow;
}

.further-detail-container {
  display: flex;
}

.further-detail-item-container {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
}
.header-menu-container i{
  cursor: pointer;
  color: black;
}

.input-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-buttons p {
  font-size: 16x;
  font-weight: bold;
}
.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  
}

.header p {
  font-style: italic;
}

.body{
  display: flex;
  gap: 15px;
}

.body {
  display: flex;
  gap: 15px;
}

/* Apply column layout for mobile screens */
@media (max-width: 768px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
}


.btn {
  color: black;
  background-color: aqua;
  border: none;
  padding: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn:hover {
  border: 1px solid black;
  padding: 2px;
  background-color: yellow;
}

.nav {
  background-color: azure;
}